<div id="about" class="container-fluid text-light d-flex justify-content-center p-5 mt-5">
    <h1 class="heading fw-bold p-2">About</h1>
</div>
<div class="container-fluid">
    <div class="row p-5">
        <div class="col">
            <div class="row d-flex justify-content-center">
                <svg width="300px" height="300px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                    <path d="M344,144c-3.92,52.87-44,96-88,96s-84.15-43.12-88-96c-4-55,35-96,88-96S348,90,344,144Z"
                        style="fill:none;stroke:#FF4D5A;stroke-linecap:round;stroke-linejoin:round;stroke-width:10px" />
                    <path
                        d="M256,304c-87,0-175.3,48-191.64,138.6C62.39,453.52,68.57,464,80,464H432c11.44,0,17.62-10.48,15.65-21.4C431.3,352,343,304,256,304Z"
                        style="fill:none;stroke:#FF4D5A;stroke-miterlimit:10;stroke-width:10px" />
                </svg>
            </div>
            <div class="row">
                <p class="text-light">
                    Ambitious and hardworking developer, focused on writing good and clean code. Team player who is always
                    looking for the next challenge and opportunity to learn something new in the field of software and web 
                    development. When I'm not at my computer I love to spend my time reading, playing video games and hanging
                    out with my friends.
                </p>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>