nav {
    background-color: #272727;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

a {
    color: #ffffff;
    font-family: 'Montserrat' , sans-serif;
    font-weight: 600;
}

.active, a:hover {
    color: #FF4D5A;
}