<div class="modal fade text-dark" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <img class="img-responsive w-100" src={{project[0].src}}>
            </div>
            <div class="modal-body">
                {{project[0].description}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"><a class="text-light text-decoration-none" href={{project[0].link}} target="_blank">Website</a></button>
            </div>
        </div>
    </div>
</div>