<div class="modal fade bg-dark text-light" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <img class="img-responsive w-100" src={{project.src}}>
            </div>
            <div class="modal-body">
                {{project.description}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn"><a class="text-light text-decoration-none" href={{project.link}} target="_blank">Website</a></button>
            </div>
        </div>
    </div>
</div>