<div class="row">
    <div class="card bg-dark text-light mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src={{ebec.src}} class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ebec.title}}</h5>
                    <p class="card-text">{{ebec.description}}</p>
                    <a href={{ebec.link}} target="_blank"><button type="button" class="btn btn-primary">Website</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-dark text-light mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src={{ebec.src}} class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ebec.title}}</h5>
                    <p class="card-text">{{ebec.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>