<div class="container text-light">
    <div class="row">
        <div class="col">
            <img class="rounded-circle" src="../../../assets/images/me.png">
        </div>
        <div class="col d-flex align-middle">
            <div class="row">
                <div class="heading">
                    <div class="first-line">
                        Hi there! I'm <span>Filip</span>.
                    </div>
                    <div class="second-line">
                        I love developing websites!
                    </div>
                    <div class="heading-link">
                        <button type="button" class="btn btn-primary">See my work <i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
