<div class="container p-5 text-light heading-container">
    <div class="row mt-5">
        <div class="col mt-5">
            <img class="rounded-circle landing-image" src="/portfolio/assets/images/me.png">
        </div>
        <div class="col mt-5 d-flex align-middle">
            <div class="row mt-5">
                <div class="heading">
                    <div>
                        Hi there! I'm <span>Filip</span>.
                    </div>
                    <div>
                        I love developing websites!
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <button type="button" class="btn btn-lg"><a href="#about">See my work</a><i class="fa fa-arrow-down ms-1" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-7">
                            <button type="button" class="btn btn-lg"><a href="/portfolio/assets/files/FilipTanevski_Resume.pdf" download>See my CV</a><i class="fa fa-download ms-1" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
