@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

html, body {
    margin: 0px;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1A1A1A;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }