@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

html, body {
    margin: 0px;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.light-theme {
    background-color: #EEEEEE;
    color: #1A1A1A;
}

.dark-theme {
    background-color: #1A1A1A;
    color: #EEEEEE;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }